
.btn-responsive {
   
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    width: auto;
    cursor: pointer;
    border: 1px solid #3498db;
    border-radius: 4px;
    color: #3498db;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }
  .botonImg{
    width: 20px;
  }

  .btn-responsive:hover {
    background-color: #3498db;
    color: #ffffff;
  }
  

  @media (max-width: 768px) {
    .btn-responsive {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
  

  @media (max-width: 480px) {
    .btn-responsive {
      font-size: 11px;
      padding: 5px 10px;
    }
  }
  