/* Agrega estilos CSS a tu archivo Carrito.css */
img {
  width: 50%;
}
.contenedor-flex{
  display: grid;
  grid-template-columns: auto auto auto;
}
.contenedor {
 display: grid;
 grid-template-rows: auto auto;
} 


/* Agrega estos estilos si quieres que se ajuste en pantallas más pequeñas */
@media (max-width: 768px) {
  .producto-carro {
    width: 45%;
    /* Ajusta el ancho según tus necesidades */
  }
}

@media (max-width: 480px) {
  .producto-carro {
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
  }
}