
.label-create{
margin: 0;

}
.formulario-container label{
  margin-left: -10%;
}
.label-create {
  margin: 0;
  padding: 10%;
}
.label-referencia{
  margin: 0;
  padding: 5.5%;
}
.label-nombre {
  padding: 8%;
}
.select {
  margin-left: 03% ;
  width: 60%;
}
.form-group #fecha{
  width: 60%;
}
.formulario-container {
  padding-top: 0rem;
  padding-bottom: 2rem;
  width: 100%;
  border-radius: 2%;
  background-color: whitesmoke;
  /* White background for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
  /* Subtle shadow */
}

#formulario-producto {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex; /* Establece el contenedor como un flexbox */
  align-items: center; /* Centra verticalmente los elementos */
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
@media (max-width: 768px) {
  .formulario-container {
    padding-top: 0rem;
    padding-bottom: 2rem;
    width: 100%;
    border-radius: 2%;
    background-color: whitesmoke;
    /* White background for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
    /* Subtle shadow */
  }
}