.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 39rem;
}

.create-form {
  padding-top: 2%;
  padding-bottom: 2%;
  position: absolute;
  width: 70% !important;
  height: fit-content;
  border-radius: 10px;
  background-color: #fff;
  /* White background for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
  /* Subtle shadow */
}

.logo {
  width: auto;
  /* Adjust logo width as needed */
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: black;
}


.label-id {
  position: relative;
  margin-right: 10%;
  padding-left: 30px;
  margin-left: -10%;
}

.label-data {
  position: relative;
  margin-right: 10%;
  padding-left: 32px;
  margin-left: -10%;
}

.label-create {
  position: relative;
  margin-right: -1%;
  padding-left: 30px;
  margin-left: -10%;
}

.label-pass {
  position: relative;
  margin-right: 1%;
  padding-left: 30px;
  margin-left: -10%;
}

.product-data {
  width: 65%;
  margin-left: 9%;
  padding-left: 90px;
}

.product-phone {
  width: 65%;
}

.product-item {
  width: 65% !important;
  margin-left: 6%;
  padding-left: 90px;
}

button {
  background-color: #007bff;
  /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonCreate {
  margin: auto;
  width: 30%;
}

button:hover {
  background-color: #0062cc;
  /* Darker blue on hover */
}

a {

  margin: 0;
  /* Elimina el margen por defecto de los enlaces */
  padding: 5px;
  /* Ajusta el relleno de los enlaces */
  text-decoration: none;
  /* Elimina el subrayado de los enlaces */
  color: #000;
  /* Ajusta el color de los enlaces */
}

.form a {
  display: flex;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  justify-content: center;
}

.form a:hover {
  background-color: #f0f2f5;
  /* Change background color on hover */
}

.login-image {
  width: 50%;
  background-image: url("login-background.jpg");
  /* Replace with your image */
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {

  .create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 39rem;
  }

  .create-form {
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    width: 90% !important;
    height: fit-content;
    border-radius: 10px;
    background-color: #fff;
    /* White background for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
    /* Subtle shadow */
  }

}

.form>a {
  cursor: pointer;
}