.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
/* aqui van algunos cambios que estamos probando */
 /* Estilo base para los grupos de administración */
 .create-group {
    justify-content: center ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espacio entre el label y el input */
    margin-bottom: 15px; /* Espacio entre cada grupo */
  }
  
  .create-group label {
    flex: 1; 
  }
  
  .create-group input {
    flex: 2; /* Ajusta el espacio del input según sea necesario */
  }
  .create-group, input {
    width: 100%;
  }
 
  @media (max-width: 600px) {
    .create-container {
   
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
      }
    .create-group {
    justify-content: center ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espacio entre el label y el input */
    margin-bottom: 15px; /* Espacio entre cada grupo */
  }
    
    /* aqui termina el responssive */
  }
  .buttonProduct{
    width: 50%;
  }