.contenedor-flex {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  display: grid;
  grid-template-columns: auto auto auto;
}
label {
    display: block;
    margin-bottom: 8px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }